page-home {
    .padding {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(../assets/img/VanGogh/index.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #eee;
}
}
